body
{
    padding: 0 40px;
    background-color: #EEE;
}

.alerts
{
    padding-top: 15px;
}

#login-form
{
    max-width: 330px;
    margin: 0 auto;
    padding: 15px;
}

#login-form #username
{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#login-form #password
{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
