@media (max-width: 767px)
{
    body
    {
        padding-top: 49px;
    }

    .alerts
    {
        padding-top: 21px;
    }
}

@media (min-width: 768px)
{
    body
    {
        padding-top: 70px;
        padding-left: 250px;
    }

    .contents
    {
        padding: 0 15px;
    }
}

.navbar-brand
{
    display: flex;
    align-items: center;
}

.navbar-brand img
{
    width: 32px;
    height: 32px;
    display: inline;
    margin-right: 5px;
}

.navbar-toggle
{
    float: left;
    margin-left: 15px;
    margin-right: 0;
}

.navmenu
{
    width: 250px;
    margin-top: 50px;
    z-index: 1029;
}

.feed-icon
{
    width: 1.5em;
    height: 1.5em;
}

span.icon
{
    font-size: 1.5em;
    cursor: pointer;
    vertical-align: middle;
}

span.icon.glyphicon.glyphicon-folder-open
{
    margin-right: 5px;
}

.table > tbody > tr > td
{
    vertical-align: middle;
}

td.link
{
    width: 100%;
}

td.date
{
    white-space: nowrap;
    text-align: right;
}

.pagination
{
    margin: auto;
    margin-bottom: 15px;
}

.nav > .nav-indent > a
{
    padding-left: 41px;
}

.empty-message
{
    text-align: center;
    font-size: 2em;
    padding-top: 100px;
}

.alerts
{
    padding-left: 15px;
    padding-right: 15px;
}
