{% extends "main.html" %}
{% block navbar %}
    <div class="navbar-right">
        <a class="navbar-text navbar-link"><span class="icon glyphicon glyphicon-trash"></span></a>
        <a class="navbar-text navbar-link"><span class="icon glyphicon glyphicon-trash"></span></a>
    </div>
{% endblock %}

{% block body %}
    <!-- Sidebar -->
    <div id="feedlist" class="navmenu navmenu-default navmenu-fixed-left offcanvas-xs">
        <ul class="nav navmenu-nav">
            <li class="{{ "active" if not(starred or feed_id or folder_id) }}">
                <a href="/">
                    <span class="icon glyphicon glyphicon-th-list"></span>
                    All
                </a>
            </li>
            <li class="{{ "active" if starred }}">
                <a href="/starred">
                    <span class="icon glyphicon glyphicon-star"></span>
                    Starred
                </a>
            </li>
            {% for feed in root_feeds.order_by("name") %}
                <li class="{{ "active" if feed.id == feed_id }}">
                    <a href="/feed/{{ feed.id }}">
                        <img class="feed-icon" src="{{ feed.icon or "/static/rss.svg" }}">
                        {{ feed.name }}
                    </a>
                </li>
            {% endfor %}
            {% for folder in folders.order_by("name") %}
                <li class="{{ "active" if folder.id == folder_id }}">
                    <a href="/folder/{{ folder.id }}">
                        <span class="icon glyphicon glyphicon-folder-open"></span>
                        {{ folder.name }}
                    </a>
                </li>
                {% for feed in folder.feeds.order_by("name") %}
                    <li class="{{ "active" if feed.id == feed_id }} nav-indent">
                        <a href="/feed/{{ feed.id }}">
                            <img class="feed-icon" src="{{ feed.icon or "/static/rss.svg" }}">
                            {{ feed.name }}
                        </a>
                    </li>
                {% endfor %}
            {% endfor %}
            <li id="addfeed">
                <form method="POST" action="/addfeed">
                    {{ addfeedform.hidden_tag() }}
                    <div class="input-group">
                        <input class="form-control" id="url" name="url" placeholder="Feed URL" type="url">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="submit" type="submit">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </li>
        </ul>
    </div>

    <!-- Main contents -->
    <div id="entries" class="contents">
        {% if entries.items == [] %}
            <div class="empty-message">
                Nothing here!
            </div>
        {% endif %}

        <table class="table table-striped table-condensed">
            {% for entry in entries.items %}
                <tr>
                    <td class="icon">
                        <span id="star{{ entry.id }}"
                            data-starred="{{ entry.starred }}"
                            data-id="{{ entry.id }}"
                            {% if entry.starred == 1 %}
                                class="icon star glyphicon glyphicon-star"
                            {% else %}
                                class="icon star glyphicon glyphicon-star-empty"
                            {% endif %}
                            ></span>
                    </td>
                    <td class="icon">
                        <a href="/feed/{{ entry.feed.id }}">
                            <img
                                class="feed-icon"
                                src="{{ entry.feed.icon or "/static/rss.svg" }}"
                                title="{{ (entry.author + " on ") if entry.author != None }}{{ entry.feed.name }}"
                                >
                        </a>
                    </td>
                    <td class="link"><a href="{{ entry.link }}" target="blank">{{ entry.title }}</a></td>
                    <td class="date hidden-xs hidden-sm">
                        <span
                            data-timestamp="{{ entry.date }}"
                            class="timestamp"
                            id="timestamp{{ entry.id }}"
                            ></span>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="text-center"><ul class=pagination>
            {%- for page in entries.iter_pages(left_edge = 1, right_edge = 1, left_current = 2, right_current = 3) %}
                {% if page %}
                    {% if page != entries.page %}
                        <li><a href="{{ url_for("feedview", folder_id = folder_id,
                            feed_id = feed_id, starred = starred, p = page) }}">{{ page }}</a></li>
                    {% else %}
                        <li class="active"><a>{{ page }}</a></li>
                    {% endif %}
                {% else %}
                    <li class="disabled"><a><span class=ellipsis>…</span></a></li>
                {% endif %}
            {%- endfor %}
        </ul></div>
    </div>
{% endblock %}

{% block js %}
    <script src="/static/feedview.js"></script>
{% endblock %}
