{% extends "main.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div id="entries">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Source</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td><img src="{{ entry.feed.icon }}"></td>
                        <td><a href="{{ entry.link }}">{{ entry.title }}</a></td>
                        <td>
                            {{ (entry.author + " at ") if entry.author != None }}
                            {{ entry.feed.name }}
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

