{% extends "main.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div id="feedlist">
        <ul>
            <li><a href="/">All</a></li>
            {% for feed in current_user.feeds.filter_by(folder_id = None) %}
                <li><a href="/feed/{{ feed.id }}">{{ feed.name }}</a></li>
            {% endfor %}
            {% for folder in current_user.folders %}
                <li>
                    <p><a href="/folder/{{ folder.id }}">{{ folder.name }}</a></p>
                    <ul>
                        {% for feed in folder.feeds %}
                            <li><a href="/feed/{{ feed.id }}">{{ feed.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="entries">
        <table>
            {% for entry in entries.items %}
                <tr>
                    <td><!-- TODO: read/unread status icon --></td>
                    <td><!-- TODO: starred icon --></td>
                    <td>
                        <img
                         src="{{ entry.feed.icon }}"
                         title="{{ (entry.author + " on ") if entry.author != None }}{{ entry.feed.name }}"
                         >
                    </td>
                    <td><a href="{{ entry.link }}">{{ entry.title }}</a></td>
                    <!-- TODO: render the timestamp with moment.js -->
                    <td>{{ entry.date }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class=pagination>
            {%- for page in entries.iter_pages() %}
                {% if page %}
                    {% if page != entries.page %}
                        <a href="{{ url_for("feedview", folder_id = folder_id,
                            feed_id = feed_id, p = page) }}">{{ page }}</a>
                    {% else %}
                        <strong>{{ page }}</strong>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>…</span>
                {% endif %}
            {%- endfor %}
        </div>
    </div>
{% endblock %}
