{% extends "main.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/login.css">
{% endblock %}
{% block title %}Login{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
    <div id="login-wrapper">
        <form method="POST" id="login-form">
            {{ form.hidden_tag() }}
            <h1>Login</h1>
            <input class="form-control" id="username" name="username" placeholder="Username" type="text">
            <input class="form-control" id="password" name="password" placeholder="Password" type="password">
            <div class="checkbox">
                <label><input id="remember" name="remember" type="checkbox"> Remember me</label>
            </div>
            <input class="btn btn-primary btn-block" id="submit" name="submit" type="submit" value="Log in">
        </form>
    </div>
{% endblock %}
