{% extends "main.html" %}
{% block title %}Login{% endblock %}
{% block body %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <ul>
            {% for field in form %}
                {% if field.id != "csrf_token" %}
                    <li>
                        {% if field.type == "BooleanField" %}
                            {{ field }}{{ field.label }}
                        {% elif field.type == "SubmitField" %}
                            {{ field(class = "button") }}
                        {% else %}
                            {{ field(size = 20, placeholder = field.label.text) }}
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </form>
{% endblock %}
