<!doctype html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %} - dumbrss</title>
        {% endblock %}
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="flash">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
